## Cartilha criada com auxílio do canal 'Hashtag Programação'

### Importando o pandas

In [8]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [9]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
venda_df = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [10]:
print(venda_df)
display(venda_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [29]:
planilha_vendas = pd.read_excel('Vendas.xlsx')
display(planilha_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [12]:
planilha_vendas.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

In [13]:
planilha_vendas.shape

(93910, 7)

In [14]:
planilha_vendas.describe()

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [18]:
#Series = colunas do Dataframe
produtos = planilha_vendas['Produto']
display(produtos)

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

In [21]:
# + DE UMA COLUNA
produtos = planilha_vendas[['Produto', 'ID Loja']]
display(produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico
-> O metodo loc trabalha com os indices(nº ao lado direito da tabela)

-> dataframe.loc['linhas','colunas']

In [23]:
#Pegar uma linha
display(planilha_vendas.loc[1])

Código Venda                        1
Data              2019-01-01 00:00:00
ID Loja            Iguatemi Esplanada
Produto                      Camiseta
Quantidade                          2
Valor Unitário                    180
Valor Final                       360
Name: 1, dtype: object

In [25]:
#Pegar de uma até outra
display(planilha_vendas.loc[1:5])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248

In [27]:
#Pegar linhas que correspondem a uma condição
vendas_iguatemi_esp = planilha_vendas.loc[planilha_vendas['ID Loja'] == 'Iguatemi Esplanada']
display(vendas_iguatemi_esp)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
26,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232
44,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363
...,...,...,...,...,...,...,...
93745,64908,2019-11-30,Iguatemi Esplanada,Meia,4,30,120
93776,64928,2019-11-30,Iguatemi Esplanada,Tênis Xadrez,3,259,777
93880,64993,2019-11-30,Iguatemi Esplanada,Bermuda Liso,2,157,314
93881,64993,2019-11-30,Iguatemi Esplanada,Chinelo Xadrez,1,66,66
93882,64993,2019-11-30,Iguatemi Esplanada,Cinto Liso,1,209,209

In [34]:
#Pegar várias linhas e colunas usando loc
vendas_norte_shop = planilha_vendas.loc[planilha_vendas['ID Loja'] == 'Norte Shopping',['ID Loja','Produto','Quantidade']]
display(vendas_norte_shop)

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

In [39]:
#Pegar valor especifico
print(planilha_vendas.loc[1, 'Produto'])

Camiseta

### Adicionar 1 coluna

In [47]:
#A partir de uma coluna que exite
planilha_vendas['Comissão'] = planilha_vendas['Valor Final'] * 0.05
display(planilha_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

In [57]:
#A partir de um valor padrão
planilha_vendas.loc[:,'Imposto'] = 0
display(planilha_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [55]:
vendas_dez = pd.read_excel('Vendas - Dez.xlsx')
planilha_vendas = planilha_vendas.append(vendas_dez)
display(planilha_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

### Excluir linhas e colunas

In [58]:
planilha_vendas = planilha_vendas.drop('Imposto',axis=1) #1 é o eixo da coluna, 0 é o eixo da linha
planilha_vendas = planilha_vendas.drop(0,axis=0)
display(planilha_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

### Valores Vazios
    - Deletar linhas/colunas vazias (NaN)
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [60]:
#Deletar linhas e colunas completamente vazias
planilha_vendas = planilha_vendas.dropna(how = 'all', axis =1)

#deletar se tiver pelo menos um valor vazio
planilha_vendas = planilha_vendas.dropna()

#Preencher valores vazios
#Preencher com valor fixo
planilha_vendas['Comissão'] = planilha_vendas['Comissão'].fillna(1)

#Preencher com média da coluna
planilha_vendas['Comissão'] = planilha_vendas['Comissão'].fillna(planilha_vendas['Comissão'].mean())
display(planilha_vendas)

#Prencher com ultimo valor (Pegar o valor de cima e coloca embaixo)
planilha_vendas = planilha_vendas.ffill()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163

### Calcular Indicadores
    - Groupby
    - Value Counts =  Conta quantas vezes um determinado item aparece

In [63]:
#Value counts
transacoes_loja = planilha_vendas['ID Loja'].value_counts()
display(transacoes_loja)

Shopping Vila Velha                 4832
Rio Mar Recife                      4831
Palladium Shopping Curitiba         4812
Iguatemi Campinas                   4738
Rio Mar Shopping Fortaleza          4706
Norte Shopping                      4689
Bourbon Shopping SP                 4688
Salvador Shopping                   4634
Shopping SP Market                  4624
Center Shopping Uberlândia          4613
Shopping Eldorado                   4610
Ribeirão Shopping                   4602
Shopping Iguatemi Fortaleza         4601
Shopping Ibirapuera                 4597
Passei das Águas Shopping           4578
Shopping Morumbi                    4569
Shopping União de Osasco            4563
Shopping Center Leste Aricanduva    4553
Shopping Center Interlagos          4529
Novo Shopping Ribeirão Preto        4527
Iguatemi Esplanada                  4495
Shopping Barra                      4482
Parque Dom Pedro Shopping           4482
Shopping Recife                     4463
Shopping Midway Mall                4355
Name: ID Loja, dtype: int64

In [67]:
#Group By (Funciona melhor com coluna especificada para agrupar e colunas numericas para fazer o metodo desejado)
faturamento_produto = planilha_vendas[['Produto','Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

                  Valor Final
Produto
Bermuda                309150
Bermuda Estampa        328874
Bermuda Linho          445770
Bermuda Liso           313058
Bermuda Listrado       333661
...                       ...
Tênis Estampa          521728
Tênis Linho            608580
Tênis Liso             542640
Tênis Listrado         532908
Tênis Xadrez           518777

[120 rows x 1 columns]

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [70]:
#é necessário ambos dataframes terem uma coluna em comum
gerentes_df = pd.read_excel('Gerentes.xlsx')
planilha_vendas = planilha_vendas.merge(gerentes_df)
display(planilha_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.600000,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.150000,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,11.800000,Salvador
...,...,...,...,...,...,...,...,...,...
115168,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,20.743163,Mateus
115169,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,20.743163,Mateus
115170,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,20.743163,Mateus
115171,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,20.743163,Mateus
115172,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,20.743163,Mateus